# Dependencias (El mayor ahorro)
node_modules/
**/node_modules/
package-lock.json
pnpm-lock.yaml
yarn.lock

# Directorios de compilación y temporales
.next/
**/build/
**/dist/
**/out/
.cache/
.vercel/
.turbo/

# Archivos de sistema y logs
.git/
.svn/
.hg/
*.log
.DS_Store
Thumbs.db

# Multimedia y Assets pesados
public/assets/
**/images/
*.png
*.jpg
*.jpeg
*.svg
*.gif
*.ico
*.pdf
*.mp4

# Configuración de entorno (Seguridad)
.env
.env.*
